.search-field {
  display: flex;
  gap: 1.6rem;
}

.search-field > * {
  height: 4.8rem;
  border: none;
  border-radius: 0.8rem;
  padding: 0 0.8rem;
  font-size: 1.6rem;
}

.search-field__input {
  background-color: #eef9f8;
  font-size: 2rem;
  font-family: serif;
  color: #598b98;
}

.search-field__input::placeholder {
  color: #598b98;
}

.search-field__submit {
  font-size: 2rem;
  font-weight: 600;
  background-color: #eef9f8;
  color: #598b98;
  cursor: pointer;
}
