.picked-movie {
  width: 80%;
  background-color: #f2f9fb;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  display: flex;
  z-index: 1;
  transition: all 0.5s;
}

.picked-movie.displayed {
  left: 50%;
  transform: translate(-50%, -50%);
}

.picked-movie__poster {
}

.picked-movie__info {
  /* overflow-x: auto; */
  color: #40646d;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: column;
}

.picked-movie__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.picked-movie__header::after {
  margin-top: 0.4rem;
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #40646d;
}

.picked-movie__title {
  font-size: 3rem;
  font-family: serif;
}

.picked-movie__btn {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(64, 100, 109, 0.8);
  color: rgba(238, 249, 248, 0.8);
  cursor: pointer;
}

.picked-movie__btn--close {
  margin-left: auto;
}

.picked-movie__btn--delete {
  border: 0.5px solid #40646d;
  background-color: rgba(238, 249, 248, 0.8);
  color: rgba(64, 100, 109, 0.8);
}

.picked-movie__btn:hover {
  background-color: rgba(64, 100, 109, 1);
  color: rgba(238, 249, 248, 1);
}

.picked-movie__synopsis {
  max-height: 16rem;
  overflow-y: auto;
  font-size: 2rem;
}

.picked-movie__synopsis::-webkit-scrollbar {
  width: 1.6rem;
  border-inline: 0.5px solid #40646d;
}

.picked-movie__synopsis::-webkit-scrollbar-thumb {
  background-color: rgba(64, 100, 109, 0.8);
}

.picked-movie__stats-carousel::before {
  margin-bottom: 0.4rem;
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background-color: #40646d;
}

.picked-movie__stats-carousel {
  overflow-x: hidden;
}

.picked-movie__stats-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.2rem;
}

.picked-movie__stat {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.pciked-movie__stat-name {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0.8rem 0.8rem;
  background-color: #40646d;
  color: #eef9f8;
}

.picked-movie__stat-value {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picked-movie__user-rating {
  margin-top: 0.8rem;
  padding-block: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #40646d;
  font-size: 2.4rem;
  text-align: center;
}

.picked-movie__controls {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
